h1 {
  color: black;
}

body {
  background: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  box-shadow: #105357 1px 1px,#105357 -0px 0px,#105357 -1px 1px,#105357 -2px 2px,#105357 -3px 3px,#105357 -4px 4px,#105357 -5px 5px;
  
}

.chatbar-message {
  flex: 8;
  word-wrap: break-word;
  

}

.chatbar-username {
  flex: 2;
  font-size: .7em
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  font-family: 'Sacramento'; 
  color: #FFDA47; 
  text-shadow: #105357 1px 1px,#105357 -0px 0px,#105357 -1px 1px,#105357 -2px 2px,#105357 -3px 3px,#105357 -4px 4px,#105357 -5px 5px,#105357 -6px 6px,#105357 -7px 7px;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-counter {
  font-family: 'Roboto';
  color: white;
  float: right;
  margin-top: 1em;
  font-size: 1.25em;
}

.background-gradient {
  background: #4CC3CE;
}

